<ion-header [translucent]="true">
 
</ion-header>

<ion-content [fullscreen]="true" class="login-content">
  <div class="top-image-container">
    <img src="./assets/logo.jpg" alt="Logo">
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="floating">User</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" value="NeverGonnaGiveYouUp">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
  </ion-list>

  <div class="button-container">
    <ion-button expand="full">Login</ion-button>
  </div>

  <div class="social-login-container">
    <h2>Or log in with</h2>
    <ion-icon name="logo-google" class="social-icon"></ion-icon>
    <ion-icon name="logo-facebook" class="social-icon"></ion-icon>
  </div>
</ion-content>

