.header-title {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente */
  }
  
  .header-title ion-icon {
    margin-right: 10px; /* Espaçamento à direita do ícone */
  }
  