/* Centraliza o texto e o ícone */
.header-title {
  display: flex;
  align-items: center; /* Alinha verticalmente */
  justify-content: center; /* Alinha horizontalmente */
}

.header-title ion-icon {
  margin-right: 10px; /* Espaçamento à direita do ícone */
}

ion-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  ion-list {
    flex: 1;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  