<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <h1 class="header-title">
      <ion-icon name="calendar-outline"></ion-icon>
      Cortes Populares
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container>
  <swiper-slide>
  <ion-card class="custom-card">
    <img src="./assets/fadeway.jpg"/>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Corte fadeway</ion-card-title>

     
    </ion-card-header>
  

  </ion-card>
</swiper-slide>

<swiper-slide>
  <ion-card class="custom-card">
    <img src="./assets/mulet.webp"/>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Corte Degrade</ion-card-title>
    </ion-card-header>
  </ion-card>
</swiper-slide>

<swiper-slide>
  <ion-card class="custom-card">
    <img src="./assets/corte01.jpg"/>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Mid Fade</ion-card-title>
    </ion-card-header>
  </ion-card>
</swiper-slide>

<swiper-slide>
  <ion-card class="custom-card">
    <img src="./assets/corteRj.jpg"/>
    <ion-card-header>
      <ion-card-title>Corte Paulista mais fraco </ion-card-title>
    
    </ion-card-header>
  

  </ion-card>

</swiper-slide>

</swiper-container>


</ion-content>

