.header-title {
  display: flex;
  align-items: center; /* Alinha verticalmente */
  justify-content: center; /* Alinha horizontalmente */
}

.header-title ion-icon {
  margin-right: 10px; /* Espaçamento à direita do ícone */
}
swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-card {
  width: 90%; /* reduzimos a largura para evitar vazamento */
  height: 70vh; /* ajustamos a altura para evitar vazamento */
  border: 1px solid #CBE8F5; /* adicionamos uma borda ao card */
}

.custom-card img {
  object-fit: cover; /* a imagem ainda preencherá o card */
  width: 100%;
  height: 75%; /* reduzimos a altura da imagem para preservar o título do card */
  border: 5px solid #CBE8F5; /* adicionamos uma borda à imagem */
}

